@import "../../../Styles/Variables.scss";

.item-section {
  @include flexClmnCenter;
  align-items: flex-start;
  position: relative;
  max-width: 415px;
  @media (width <= $respSize) {
    margin-bottom: 30px;
  }
}
