@import "../../../Styles/Variables.scss";

.imgs-list {
  @include flexSpaceBtwn;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
  &__item {
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  &__item-hover {
    @include hoverBackground;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $LightGrayishBlue2;
    }
  }
  &__selected {
    @include hoverBackground;
    background-color: $LightGrayishBlue2;
    border: 3px solid $primaryorange;
    border-radius: 10px;
  }
}

@media (width <=1150px){
  .imgs-list{
    justify-content: space-around;
  }
  .imgs-list__item{
    margin-bottom: 15px;
  }
}
@media (width<=768px){
  
}