@import "../../../Styles/Variables.scss";

.last-price {
  color: $DarkGrayishBlue;
  text-decoration: line-through;
  font-weight: $fontBold;
  @media (width<=$respSize) {
    font-size: 18px;
  }
}
