@import "../../../Styles/Variables.scss";

.navigation {
	&__list {
		@include flexCenter;
		gap: 30px;
	}
	&__item {
		color: $DarkGrayishBlue;
		font-weight: $fontBold;
		cursor: pointer;
	}
	&__item:hover {
		color: $VeryDarkBlue;
	}
}
