//COLORS
$primaryorange: hsl(26, 100%, 55%);
$primaryPaleorange2: hsl(25, 100%, 94%);
$primaryPaleorange: hsl(25, 100%, 77%);

$VeryDarkBlue: hsl(220, 13%, 13%);
$DarkGrayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);
$LightGrayishBlue2: hsla(223, 64%, 98%, 0.5);

$White: hsl(0, 0%, 100%);
$Blacklightbox: hsla(0, 0, 0, 0.75);

//FONTS
$primaryFont: "Kumbh Sans", sans-serif;
$fontLight: 400;
$fontBold: 700;

//TIME DELAY
$fadeInOutMessage: 1s;
$fadeInOutNavBar: 0.3s;

:export {
  fadeInOutMessage: $fadeInOutMessage;
  fadeInOutNavBar: $fadeInOutNavBar;
}

//CSS CODES
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBtwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexClmnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin hoverBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin orangeBtn {
  @include flexCenter;
  background-color: $primaryorange;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid $primaryorange;
  font-weight: $fontBold;
  color: $White;
  cursor: pointer;
  transition: background-color 0.2s ease, border 0.2s ease;
}
@mixin orangeBtnHover {
  @include flexCenter;
  background-color: $primaryPaleorange;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid $primaryPaleorange;
  font-weight: $fontBold;
  color: $White;
  cursor: pointer;
}
@mixin nextPrvsBtn {
  @include flexCenter;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  stroke: black;
  cursor: pointer;
  transition: fill 0.2s ease-out;
  &:hover {
    stroke: $primaryorange;
  }
}
