//COLORS
$primaryorange: hsl(26, 100%, 55%);
$primaryPaleorange: hsl(25, 100%, 94%);

$VeryDarkBlue: hsl(220, 13%, 13%);
$DarkGrayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);
$LightGrayishBlue2: hsla(223, 64%, 98%, 0.5);

$White: hsl(0, 0%, 100%);
$Blacklightbox: hsla(0, 0, 0, 0.75);

//FONTS
$primaryFont: 'Kumbh Sans', sans-serif;
$fontLight: 400;
$fontBold: 700;


//CSS CODES
@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexSpaceBtwn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin flexClmnCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
