@import "../../Styles/Variables.scss";

.main {
  @include flexCenter;
  margin-top: 50px;
  gap: 100px;
  @media (width<=$respSize) {
    @include flexClmnCenter;
    margin-top: 0;
    gap: 25px;
  }
}
