@import "../../Styles/Variables.scss";

.main{
    @include flexCenter;
    margin-top: 50px;
    gap: 100px;
}
@media (width <=1150px){
    .main{ 
        gap: 50px;
    }
}
@media (width<=768px){
    .main{
    @include flexClmnCenter;
    margin-top: 0;
    }
}