@import "../../../Styles/Variables.scss";

.header {
  @include flexSpaceBtwn;
  border-bottom: 2px solid $LightGrayishBlue;
  position: relative;
  transition: all 1s ease-in-out;
  @media (width <= $respSize) {
    padding: 20px 0;
  }

  &__user-cart-wrapper {
    @include flexCenter;
    gap: 50px;
    @media (width <= $respSize) {
      gap: 20px;
    }
  }

  &__cart-wrapper {
    position: relative;
    fill: $DarkGrayishBlue;
    cursor: pointer;
    transition: fill 0.2s ease;
    &:hover {
      fill: $VeryDarkBlue;
    }
    @media (width <= $respSize) {
    }
  }

  &__cart-amount {
    position: absolute;
    padding: 1px 8px;
    border-radius: 8px;
    font-size: 8px;
    top: -5px;
    right: -4px;
    background: $primaryorange;
    color: white;
    @media (width <= $respSize) {
    }
  }
}
