@import "../../../Styles/Variables.scss";

.item-price-wrapper{
    margin-bottom: 25px;

    &__price{
        @include flexCenter;
        gap: 15px;
    }
}

@media (width<=768px){
	.item-price-wrapper{
        @include flexSpaceBtwn;
        width: 100%; 
	}
}