@import "../../../Styles/Variables.scss";

.add-cart {
  @include flexSpaceBtwn;
  background-color: white;
  gap: 30px;
  width: 100%;
  &__amount-wrapper {
    @include flexCenter;
    justify-content: space-between;
    width: 50%;
    gap: 20px;
    padding: 20px;
    background-color: $LightGrayishBlue;
    border-radius: 10px;
  }
  &__changer {
    @include flexCenter;
    width: 20px;
    height: 20px;
    fill: $primaryorange;
    cursor: pointer;
    transition: fill 0.2s ease;
    &:hover {
      fill: $primaryPaleorange;
    }
  }
  &__amount {
    font-weight: $fontBold;
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  &__cart {
    margin-right: 15px;
    fill: $White;
  }
  &__btn {
    @include orangeBtn;
    width: 50%;
    &:hover {
      @include orangeBtnHover;
    }
  }
}

.add-cart__amount::-webkit-outer-spin-button,
.add-cart__amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add-cart__amount[type="number"] {
  -moz-appearance: textfield;
}

@media (width <=1150px){
  .add-cart {
    @include flexClmnCenter;
    align-items: flex-start;
    gap: 15px;
  }
}

@media (width<=768px){
	.add-cart{
    &__amount-wrapper{
      width: 100%;
    }
    &__btn {
      width: 100%;
    }

	}
}
