@import "../../../Styles/Variables.scss";

.add-cart {
  @include flexSpaceBtwn;
  background-color: white;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
  @media (width <=1150px) {
    @include flexClmnCenter;
    align-items: flex-start;
    gap: 15px;
  }

  &__amount-wrapper {
    @include flexCenter;
    justify-content: space-between;
    width: 50%;
    gap: 20px;
    padding: 20px;
    background-color: $LightGrayishBlue;
    border-radius: 10px;
    @media (width<=$respSize) {
      width: 100%;
    }
  }

  &__changer {
    @include flexCenter;
    width: 20px;
    height: 20px;
    fill: $primaryorange;
    cursor: pointer;
    transition: fill 0.2s ease;
    &:hover {
      fill: $primaryPaleorange;
    }
  }
  &__label {
    display: none;
  }

  &__amount {
    font-weight: $fontBold;
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }

  &__cart {
    margin-right: 15px;
    fill: $White;
  }

  &__btn {
    @include orangeBtn;
    width: 50%;
    &:hover {
      @include orangeBtnHover;
    }
    @media (width<=$respSize) {
      width: 100%;
    }
  }
}

.add-cart__amount::-webkit-outer-spin-button,
.add-cart__amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add-cart__amount[type="number"] {
  -moz-appearance: textfield;
}
